// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
$black: #222326;
$dark-black: #121314;
$light-gray: #DCDCDC;


.icon-sm {
  width: 50px
}

.icon-xsm{
  width: 20px
}

.logo {
  font-family: 'Shrikhand', cursive;
  font-size: 26px
}
.sidebar {
    height: 90vh;
    z-index: 1;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $black;
    color: white;
    width: 180px;
}
 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    padding: 15px;
    color: $light-gray;
    cursor: pointer;
    &.active {
      border-color: #e35205
     }
    }
  }

  // content map
#map-container {
  max-height: 90vh;
  height: 100%;
  display: flex;
  flex-direction: column;

}
