// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
$black: #222326;
$dark-black: #121314;


.icon-sm {
  width: 50px
}

.logo {
  font-family: 'Shrikhand', cursive;
  font-size: 26px
}
.sidebar {
    height: 90vh;
    z-index: 1;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $black;
    color: white;
    width: 180px;
}
 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    padding: 20px;
    color: white;
    background-color: gray;
    margin-bottom: 1px;
    border-left: 10px solid transparent;
    &.active {
      border-color: #e35205
     }
    }
  }

  .genre-card {
    border: black;
    cursor: pointer;
  }

  // content map
#map-container {
  max-height: 90vh;
}
